
<html>
    <body>
        <form action="{{url_for('addrec')}}" method="POST">
            <h3>Employee Information</h3>
            FirstName<br>
            <input type="text" name="fnm"/><br>
            LastName<br>
            <input type="text" name="lnm"/><br>
            AddrL1<br>
            <input type="text" name="add1"/><br>
            AddrL2<br>
            <input type="text" name="add2"/><br>
            pin<br>
            <input type="text" name="pin" id=""><br>
            Isactive<br>
            <input type="text" name="Isactive"/><br>
            <input type="Submit" value="submit"><br>
        </form>
    </body>
</html>