<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width",initial-scale=1.0">
    <title>Title</title>
</head>
<body>
    <table order="1">
        <thead>
            <td>FName</td>
            <td>LName</td>
            <td>AddL1</td>
            <td>AddL2</td>
            <td>Pin</td>
            <td>IsActive</td>
        </thead>

        {% for row in rows %}

        <tr>
            <td>{{row[fname]}}</td>
            <td>{{row[lname]}}</td>
            <td>{{row[add1]}}</td>
            <td>{{row[add2]}}</td>
            <td>{{row[pin]}}</td>
            <td>{{row[isactive]}}</td>
        </tr>


        {% endfor %}
    </table>
    <a href="/">GO Back</a>
</body>
</html>